.covid19 {
  display: flex;
  justify-content: center;
  background-color: #e31b23;
  width: 100%;
  height: 40px;
  position: relative;
}

.covid19p {
  margin-top: 8px;
  align-items: center;
  color: #ffffff;
  font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
}

.mobile {
  display: none;
}

.main-header {
  width: 100%;
}

.container-header {
  display: flex;
  padding-top: 25px;
  padding-left: 33px;
  padding-right: 33px;
  width: 100%;
  display: flex;
}

.site-logo img {
  max-height: 70px;
}

.main-header .site-logo {
  width: 110px;
  z-index: 371;
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 15px;
  width: 100%;
}

.menu-ul li:hover {
  color: #e31b23;
}

.menu-ul {
  display: flex;
  font-weight: 100;
}

.menu-ul li {
  list-style: none;
  margin-left: 12px;
  font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.dropdown-content {
  display: none;
  color: black;
  width: 180px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.dropdown-content ul li {
  list-style: none;
  margin-right: 100%;
  font-weight: 100;
  width: 100%;
  margin-top: 20px;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

.menu-ul :hover .dropdown-content {
  display: flex;
  flex-direction: column;
  z-index: 178;
  position: absolute;
  background-color: #fff;
  font-weight: 50;
  font-size: 14px;
}

.right-colum {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.right-colum p {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.right-colum i {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  justify-content: center;
}

.cart {
  position: relative;
  width: 30px;
}

.cartCounter {
  background-color: #e31b23;
  color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  font-size: 15px;
  border-radius: 15px;
  margin-top: -10px;
  margin-left: 15px;
}

.openButton {
  border: 0;
  background-color: white;
}

.closedButton {
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  background-color: white;
}

#mobile-cart {
  margin-right: 20px;
}

#mobile-search {
  margin-right: 20px;
}

.cartCounter-mobile {
  background-color: #e31b23;
  color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  font-size: 15px;
  border-radius: 15px;
  margin-top: -29px;
  margin-left: 15px;
}

.modal-nacigation-ul {
  display: none;
}

@media only screen and (max-width: 1088px) {
  .container-header {
      display: none;
  }

  .mobile {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
  }

  .mobile-header {
      display: flex;
      width: 95%;
      margin-top: 2%;
      align-items: center;
  }

  .mobile-header-img {
      margin-left: auto;
      margin-right: auto;
  }

  .mobaile-navigation-button {
      margin-left: 5%;
  }

  .mobile-header-img {
      width: 30%;
      height: auto;
  }

  .modal {
      display: none;
      width: 700px;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      position: fixed;
      z-index: 100;
      right: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: white;
      box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  }

  .modal-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 50;
      background: rgba(0, 0, 0, 0.6);
  }

  .modal-guts {
      display: flex;
      flex-direction: row;
      position: absolute;
      left: 50%;
      width: 50%;
      height: 100%;
      overflow: auto;
      padding: 20px 50px 20px 20px;
  }

  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  body {
      background-color: #556;
      background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
          linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
          linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
          linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
          linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
          linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
      background-size: 80px 140px;
      background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  }

  .mobail-modal-ul {
      margin: 10px 0 10px 30px;
  }

  .mobail-modal-ul li {
      display: flex;
      flex-direction: row;
      margin: 0 0 20px 0;
      width: 100%;
      font-weight: 600;
      list-style: none;
      font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
  }

  .mobile-select-mobal {
      display: flex;
      flex-direction: column;
      margin-top: 28px;
      margin-left: 100px;
      font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
      font-weight: 600;
  }

  .mobile-select-mobal span {
      display: flex;
      margin-top: 8px;
      width: 60px;
      height: 40px;
  }

  .modal-nacigation-ul li {
      font-weight: 100;
  }
}

@media only screen and (max-width: 1088px) {
  .mobile-select-mobal span {
      margin-top: 8px;
  }
}

@media only screen and (max-width: 434px) {
  .mobail-modal-ul li {
      font-size: 11px;
  }

  .mobail-modal-ul {
      margin: 10px 0 10px 0px;
  }

  .mobile-select-mobal span {
      font-size: 11px;
  }

  .mobile-select-mobal {
      margin-top: 38px;
  }

  .mobile-select-mobal span {
      margin-top: -1px;
  }

}

@media only screen and (max-width: 387px) {
  .covid19 {
      height: auto;
  }
}

@media only screen and (max-width: 573px) {
  .mobile-select-mobal {
      margin-left: 60px;
  }
}

@media only screen and (max-width: 491px) {
  .mobile-select-mobal {
      margin-left: 30px;

  }
}

@media only screen and (max-width: 293px) {
  .mobile-select-mobal {
      margin-left: 10px;
  }
}

@media only screen and (max-width: 461px) {
  .mobile-header-img {
      width: 150px;
  }

}


@media only screen and (max-width: 295px) {
  .mobile-header {
      flex-direction: column;
  }

  .mobaile-navigation-button {
      margin-right: 100%;
  }

  .mobile-header-img {
      width: 100px;
      margin-top: -10%;
  }
}


.imagesC {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imagesC .imageC {
  width: 100%;
  height: auto;
}

.imagesC img {
  width: 100%;
  height: auto;
}

.imageTextC {
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  position: relative;
  display: flex;
  justify-content: center;
}

.imageC {
  position: relative;
}

.textC {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 35%;
}

.textC h1 {
  text-align: center;
  color: black;
  max-width: 400px;
  font-size: 50px;
  font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
  font-weight: 1000;
}

.textC button {
  font-family: inherit;
  border: 0;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  width: 90px;
  height: 45px;
  background-color: #e31b23;
  overflow: visible;
}


.textC button:hover {
  background-color: #c8171e;
  border-color: #c8171e;
}

.textC h1 p {
  margin-top: 15px;
  margin-bottom: 15px;
}


.row2 {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.row2-img1 {
  width: 100%;
  height: auto;
  padding-right: 15px;
}

.row2-img2 {
  width: 100%;
  height: auto;
  padding-left: 15px;
}


.img1 {
  position: relative;
}

.img2 {
  position: relative;
}

.absalute-div2 {
  position: absolute;
  top: 70%;
  left: 60%;
}

.absalute-div {
  position: absolute;
  top: 10%;
  left: 10%;
  max-width: 300px;
}

.absalute-div h3 {
  color: white;
  font-weight: 1000;
  font-size: 40px;
}

.shop-the-collection {
  background-color: #e31b23;
  border: 0;
  color: #fff;
  font-family: inherit;
  font-weight: 900;
  width: 180px;
  height: 50px;
  font-size: 12px;
}

.shop-the-collection:hover {
  background-color: #c8171e;
}



.absalute-div2 h3 {
  color: white;
  font-weight: 1000;
  font-size: 40px;
}


.absalute-div2 strong {
  color: #fff;

}

.shop-the-collection2 {
  margin-top: 15px;
  background-color: #e31b23;
  border: 0;
  color: #fff;
  font-family: inherit;
  font-weight: 900;
  width: 150px;
  height: 50px;
  font-size: 12px;
}



.row4 {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}


.row4-img-1 {
  width: 100%;
  height: auto;
}

.row4-img-2 {
  width: 100%;
  height: auto;
}

.row4-img-3 {
  width: 100%;
  height: auto;
}

.row4-div-1 {
  padding-right: 15px;
  position: relative;
}

.row4-div-2 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}


.row4-div-3 {
  padding-left: 15px;
  position: relative;
}


.row4-div1-button-h3 {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 20%;
}

.row4-div1-h3 {
  color: #fff;
  font-weight: 900;
  font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
}

.row4-div1-button {
  margin-top: 15px;
  background-color: #e31b23;
  border: 0;
  color: #fff;
  font-family: inherit;
  font-weight: 900;
  width: 100px;
  height: 50px;
  font-size: 12px;
}

.row4-div1-button:hover {
  background-color: #c8171e;
}





.row4-div1-button-h3 {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 20%;
}

.row4-div1-h3 {
  color: #fff;
  font-weight: 900;
  font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
}

.row4-div1-button {
  margin-top: 15px;
  background-color: #e31b23;
  border: 0;
  color: #fff;
  font-family: inherit;
  font-weight: 900;
  width: 100px;
  height: 50px;
  font-size: 12px;
}

.row4-div1-button:hover {
  background-color: #c8171e;
}




.row4-div1-button {
  margin-top: 15px;
  background-color: #e31b23;
  border: 0;
  color: #fff;
  font-family: inherit;
  font-weight: 900;
  width: 100px;
  height: 50px;
  font-size: 12px;
}

.row4-div1-button:hover {
  background-color: #c8171e;
}





.row4-div2-button-h3 {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 20%;
}

.row4-div2-h3 {
  color: #fff;
  font-weight: 900;
  font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
}

.row4-div2-button {
  margin-top: 15px;
  background-color: #e31b23;
  border: 0;
  color: #fff;
  font-family: inherit;
  font-weight: 900;
  width: 100px;
  height: 50px;
  font-size: 12px;
}

.row4-div2-button:hover {
  background-color: #c8171e;
}




.row4-div3-button-h3 {
  position: absolute;
  top: 42%;
  text-align: center;
  left: 20%;
}

.row4-div3-h3 {
  color: #fff;
  font-weight: 900;
  font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
}

.row4-div3-button {
  margin-top: 15px;
  background-color: #e31b23;
  border: 0;
  color: #fff;
  font-family: inherit;
  font-weight: 900;
  width: 100px;
  height: 50px;
  font-size: 12px;
}

.row4-div3-button:hover {
  background-color: #c8171e;
}


@media only screen and (max-width: 1461px) {
  .absalute-div2 {
      top: 50%
  }
}

@media only screen and (max-width: 1461px) {

  .textC h1 {
      font-size: 30px;
  }
}

@media only screen and (max-width: 1311px) {
  .row4-div3-button-h3 {
      top: 50%;
  }

  .row4-div3-h3 {
      font-size: 17px;
  }

  .row4-div2-h3 {
      font-size: 20px;
  }

  .row4-div1-h3 {
      font-size: 20px;
  }
}

@media only screen and (max-width: 1040px) {
  .absalute-div2 {
      top: 40%
  }
}


@media only screen and (max-width: 992px) {
  .row2 {
      flex-wrap: wrap;
      margin-right: 30px;
  }

  .row5 {
      flex-wrap: wrap;

  }

  .row2-img1 {
      padding-right: 0px;
      padding-bottom: 30px;
  }

  .row2-img2 {
      padding-left: 0px;
  }

  .row4 {
      flex-wrap: wrap;
  }

  .row4-div2-button-h3 {
      position: absolute;
      top: 50%;
      text-align: center;
      margin-left: auto;
      margin-top: auto;
  }

  .row4-div1-button-h3 {
      position: absolute;
      top: 50%;
      text-align: center;
      margin-left: auto;
      margin-top: auto;
  }

  .row4-div3-button-h3 {
      position: absolute;
      justify-content: center;
      text-align: center;

  }

  .row4-div-1 {
      padding-right: 0px;
  }

  .row4-div-2 {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 30px;
  }


  .row4-div-3 {
      padding-left: 0px;
      padding-top: 30px;
  }

  .row4-div1-h3 {
      font-size: 40px;
  }

  .row4-div2-h3 {
      font-size: 40px;
  }

  .row4-div3-h3 {
      font-size: 40px;
  }



}

@media only screen and (max-width: 600px) {
  .textC h1 {
      font-size: 18px;
  }

  .absalute-div2 {
      left: 20%;
  }
}

@media only screen and (max-width: 699px) {
  .row4-div2-h3 {
      font-size: 30px;
  }

  .row4-div1-h3 {
      font-size: 30px;
  }

  .row4-div3-h3 {
      font-size: 30px;
  }
}

@media only screen and (max-width: 699px) {
  .row4-div2-h3 {
      font-size: 25px;
  }

  .row4-div1-h3 {
      font-size: 25px;
  }

  .row4-div3-h3 {
      font-size: 25px;
  }
}

@media only screen and (max-width: 341px) {
  .row4-div2-h3 {
      font-size: 20px;
  }

  .row4-div1-h3 {
      font-size: 20px;
  }

  .row4-div3-h3 {
      font-size: 20px;
  }
}

.row4-div3-button {
  font-weight: 500;
}

@media only screen and (max-width: 310px) {
  .row4-div2-h3 {
      font-size: 10px;
  }

  .row4-div1-h3 {
      font-size: 10px;
  }

  .row4-div3-h3 {
      font-size: 10px;
  }


  .row4-div3-button {
      font-weight: 400;
      height: 30px;
  }

  .row4-div2-button {
      font-weight: 400;
      height: 30px;
  }

  .row4-div1-button {
      font-weight: 400;
      height: 30px;
  }
}

@media only screen and (max-width: 200px) {

  .row4-div2-button-h3 {
      position: absolute;
      top: 20%;
      text-align: center;
      margin-left: auto;
      margin-top: auto;
  }

  .row4-div1-button-h3 {
      position: absolute;
      top: 20%;
      text-align: center;
      margin-left: auto;
      margin-top: auto;
  }

  .row4-div3-button-h3 {
      position: absolute;
      justify-content: center;
      text-align: center;

  }
}

@media only screen and (max-width: 397px) {
  .textC h1 {
      font-size: 15px;
  }

  .textC {
      top: 25%;
  }

  .absalute-div2 {
      top: 30%;
  }

  .TopoDesing2 p {
      font-size: 20px;
  }

  .TopoDesing p {
      font-size: 20px;
  }

}

@media only screen and (max-width: 296px) {
  .shop-the-collection {
      width: 100px;
      height: 20px;
      font-size: 7px;
  }

  .shop-the-collection2 {
      width: 100px;
      height: 20px;
      font-size: 7px;
  }
}

@media only screen and (max-width: 260px) {
  .textC h1 {
      font-size: 10px;
  }

  .textC {
      top: 10%
  }
}

.row5 {
  display: flex;
  margin-left: 30px;
  margin-right: 0px;
  margin-top: 30px;
}

.row2-img2-5 {
  padding-bottom: 30px;
}


.row2-img1-5 {
  width: 100%;
  height: auto;

}

.row2-img2-5 {
  width: 100%;
  height: auto;
  padding-left: 0px;
  padding-right: 30px;
}


.img1-5 {
  position: relative;
}

.img2-5 {
  position: relative;
}

.absalute-div2-5 {
  position: absolute;
  top: 55%;
  left: 10%;
  max-width: 300px;
}

.absalute-div-5 {
  position: absolute;
  top: 10%;
  left: 10%;
  max-width: 300px;
}

.absalute-div-5 h3 {
  color: white;
  font-weight: 1000;
  font-size: 40px;
}

.shop-the-collection-5 {
  background-color: #e31b23;
  border: 0;
  color: #fff;
  font-family: inherit;
  font-weight: 900;
  width: 180px;
  height: 50px;
  font-size: 12px;
}

.shop-the-collection-5:hover {
  background-color: #c8171e;
}



.absalute-div2-5 h3 {
  color: white;
  font-weight: 1000;
  font-size: 40px;
}


.absalute-div2-5 strong {
  color: #fff;

}

.shop-the-collection2-5 {
  margin-top: 15px;
  background-color: #e31b23;
  border: 0;
  color: #fff;
  font-family: inherit;
  font-weight: 900;
  width: 150px;
  height: 50px;
  font-size: 12px;
}

@media only screen and (max-width: 1281px) {
  .absalute-div2-5 {
      top: 20%
  }

}

@media only screen and (max-width: 900px) {
  .absalute-div2-5 h3 {
      font-weight: 800;
      font-size: 30px;
  }

  .absalute-div2-5 strong {
      font-weight: 200;
  }

  .shop-the-collection2-5 {
      width: 100px;
      height: 30px;
  }

  .absalute-div-5 h3 {
      font-weight: 800;
      font-size: 30px;
  }

  .absalute-div-5 button {
      width: 150px;
      height: 60px;
  }

  .absalute-div-5 .TopoDesing-5 {
      margin-bottom: 20px;
      font-weight: 200;
  }
}

@media only screen and (max-width: 450px) {
  .absalute-div2-5 h3 {
      font-weight: 200;
      font-size: 20px;
      max-width: 180px;
  }

  .absalute-div2-5 strong {
      max-width: 100px;
  }
}

@media only screen and (max-width: 366px) {
  .absalute-div-5 .TopoDesing-5 {
      font-size: 15px;
  }

  .absalute-div-5 button {
      width: 100px;
      height: 30px;
  }

  .absalute-div2-5 h3 {
      font-size: 20px;
  }

  .absalute-div2-5 {
      top: 5%
  }
}

@media only screen and (max-width: 275px) {
  .absalute-div2-5 h3 .TopoDesing2-5 {
      font-size: 15px;
  }
}

.redFooter {
  background-color: #c8171e;
  display: flex;
  padding: 50px;
}

.redFooter h3 {
  font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 3.4em !important;
  line-height: 1.125em !important;
  text-transform: uppercase !important;
  color: white;
}

.text {
  display: flex;
  flex-direction: column;
}

.redFooter strong {
  font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.footerInput {
  display: flex;
  margin-left: auto;
  padding-right: 60px;
  align-items: center;
}

.footerInput input {
  height: 45px;
  width: 300px;
  border: 0;

}

.footerInput button {
  height: 45px;
  border: 0;
  padding: 0 10px;
  transition: border-color .5s;
  box-shadow: none;
  background-color: black;
  color: white;
  font-weight: 500;
  margin-left: 1.5px;
}

@media only screen and (max-width: 1272px) {
  .redFooter {
      flex-direction: column;
  }

  .footerInput {
      margin-left: 2px;
  }
}

@media only screen and (max-width: 570px) {
  .footerInput {
      width: 200px;
  }

  .footerInput button {
      width: 100px;
      font-size: 10px;
  }
}

@media only screen and (max-width: 280px) {
  .footerInput input {
      width: 100px;
      height: 40px;
  }

  .footerInput button {
      width: auto;
      height: 40px;
  }
}

@media only screen and (max-width: 254px) {
  .footerInput input {
      width: 50px;
      height: 40px;
  }

  .footerInput button {
      width: auto;
      height: 40px;
  }

  .text h3 {
      font-size: 0px;
  }
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 0 20px 0;
}

.contenier-footer {
  display: flex;
  font-weight: 900;
  flex-direction: row;
  margin-top: 40px;
  margin-right: auto;
  color: rgba(255, 255, 255, .6);
  margin-left: 150px;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.footer-ul1 {
  margin-right: 100px;
}

.footer-ul1 ul li:first-child {
  top: -35px;
  color: white;
  font-size: .70em !important;
  letter-spacing: 0.85px;
  font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 800 !important;
  text-transform: uppercase !important;

}

.footer-ul2 ul li:first-child {
  top: -35px;
  color: white;
  font-size: .70em !important;
  letter-spacing: 0.85px;
  font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 800 !important;
  text-transform: uppercase !important;

}

.footer-ul3 ul li:first-child {
  top: -35px;
  color: white;
  font-size: .70em !important;
  letter-spacing: 0.85px;
  font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 800 !important;
  text-transform: uppercase !important;

}

.footer-ul4 ul li:first-child {
  top: -35px;
  color: white;
  font-size: .70em !important;
  letter-spacing: 0.85px;
  font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 800 !important;
  text-transform: uppercase !important;

}

.footer-ul1 li {
  list-style: none;
  margin: 10px;
}



.footer-ul2 {
  margin-right: 100px;
}

.footer-ul2 li {
  list-style: none;
  margin: 10px;
}


.footer-ul3 {
  margin-right: 100px;
}

.footer-ul3 li {
  list-style: none;
  margin: 10px;
}


.footer-ul4 {
  margin-right: 100px;
}

.footer-ul4 li {
  list-style: none;
  margin: 10px;
}

.fa-instagram {
  color: #99a;
}

.fa-facebook {
  color: #99a;
}

.fa-twitter {
  color: #99a;
}

.fa-pinterest-p {
  color: #99a;
}

.icone {
  display: flex;
  background-color: black;
  padding-left: 180px;
  border: 0px;
  padding-right: 180px;
}

.instagram {
  padding-right: 25px;
}

.facebook {
  padding-right: 25px;
}

.twitter {
  padding-right: 25px;

}



.finalP {
  padding-left: 700px;
  color: #99a;
}

@media only screen and (max-width: 1353px) {
  .finalP {
      padding-left: 600px;
  }

}

@media only screen and (max-width: 1256px) {
  .finalP {
      padding-left: 550px;
  }

}

@media only screen and (max-width: 1172px) {
  .finalP {
      padding-left: 450px;
  }

}


@media only screen and (max-width: 966px) {
  .footer {
      flex-direction: column;
  }

  .contenier-footer {
      flex-direction: column;
  }

}

@media only screen and (max-width: 966px) {
  .finalP {
      padding-left: 15px;

  }

  .icone {
      justify-content: start;
      padding: 0px;
  }

  .contenier-footer {
      margin-right: 0px;
      margin-left: 0px;
  }

  .icone {
      flex-wrap: wrap;
      width: auto;
  }
}
